/********************************OUTER GRID**********************/



#wrapper{
  display: flex;
}
@media only screen and (max-width: 844px ) {
  #wrapper{
    display: flex;
    flex-direction: column;
    
    
  }
}
/*Department-Grid*/

#department-grid{
  width: 280px;
  padding: 10px;
  color: white;
  border: 5px solid rgb(184, 47, 47);
  background-color: rgb(184, 47, 47);
  margin: 30px;
  height: 25%;
}

#department-grid a{
  text-decoration: none;
}

a:visited{
  color: white;
}







/**************************INNER GRID*********************************/


#product_grid{
  display: flex;
  flex-wrap: wrap;
  
}
@media only screen and(max-width: 844px){
   #product_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
}

/**PRODUCT CARDS****/
.card { 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 333px;
    height: auto;
    border-radius: 5px;
    margin: 20px;
    
  }
  .card  img{
    border-radius: 5px 5px 0 0;
    height: 300px;
    width: 100%;
  }
  
  
  .card button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
@media only screen and (max-width: 844px){
  .card{
    margin: 20px auto 20px;
  }
}

  /* .foot{
    border: 10px solid red;
    height: 80px;
    margin: 30px;
    margin-top: 0;
  } */