/* Full-width input fields */
input[type=text], input[type=password] {
    
    padding: 15px;
    margin: 10px auto ;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    width: 250px;
  }
  
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  .form-lable{
      position: relative;
      right: 100px;
  }
  
  /* Set a style for all buttons */
  button {
    text-align: center;
    background-color: #e92c2c;
    color: white;
    padding: 14px 20px;
    margin: 40px auto ;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
    width: 250px;
  }
  
  button:hover {
    opacity:1;
  }
  
  
 
  
  /* Add padding to container elements */
  .container {
    margin: 40px auto ;
    border-color: black;
    width: 35%;
    height: 480px;  
    border: solid;
    border-width: 2px;
  }
  
  .admin{
      text-decoration: none;
  }
  
  