#home-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  /*BUTTONS*/
.buttons{
    display: grid; 
     grid-template-columns: auto auto;
     margin: auto auto auto auto;
     width: auto;
     grid-column-gap: 200px;
     
   }
   
     
     .btn{
       color: white;
       background-color: #f44336;
       padding: 15px 32px;
       border-radius: 10px;
       border: none;
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     }
     